body {
    font-family: 'Courier New', monospace;
    font-size: 10px; /* Adjust based on your game's grid size */
    background-color: #222;
    color: #eee;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    position: relative;
    border: 2px solid #eee;
    border-radius: 50%;             /* Makes it circular */
    box-shadow: 0px 0px 15px #555; /* Adds some depth/shadow */
    width: 480px;                   /* Adjust as needed */
    height: 480px;                  /* Adjust as needed */
    overflow: hidden;
}

.bacteria, .resource {
    display: inline-block;
    width: 10px;  /* Adjust size as needed */
    height: 10px;
    margin: 1px;  /* Spacing between elements */
}

/* Active player bacterium */
.bacteria-active-player {
    background-color: #00CC00;  /* Bright green */
    border-radius: 50%;  /* Circular shape */
}

/* Created player bacterium */
.bacteria-created-player {
    background-color: #AAFFAA;  /* Lighter green */
    border-radius: 50%;  /* Circular shape */
}

/* Active rival bacterium */
.bacteria-active-rival {
    background-color: #AA0000;  /* Bright red */
    border-radius: 50%;  /* Circular shape */
}

/* Created rival bacterium */
.bacteria-created-rival {
    background-color: #FFAAAA;  /* Lighter red */
    border-radius: 50%;  /* Circular shape */
}

/* Glow effect for active player bacterium */
.bacteria-active-player.can-produce {
    box-shadow: 0 0 10px 2px #00CC00;  /* Green glow */
}

/* Glow effect for active rival bacterium */
.bacteria-active-rival.can-produce {
    box-shadow: 0 0 10px 2px #CC0000;  /* Red glow */
}

.resource {
    background-color: #FFFF00;  /* Yellow */
    border-radius: 50%;         /* Makes it circular */
}

.empty {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: transparent;
}

#gameArea {
    margin: 0;
    font-size: 1em;            /* Adjust the width of characters */
    line-height: .5em;          /* Adjust the height between lines */
    letter-spacing: 0px;       /* Adjust horizontal spacing if necessary */
}

#scoreDisplay, #resourcesDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;  
    color: #fff;
    font-weight: bold;
}

#resourcesDisplay {
    top: 30px;  
}

#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#controls h3 {
    margin-top: 0;
}
