body {
    font-family: 'Courier New', monospace;
    font-size: 20px; /* Adjust based on your game's grid size */
    background-color: #222;
    color: #eee;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    border: 2px solid #eee;
    border-radius: 50%;             /* Makes it circular */
    box-shadow: 0px 0px 15px #555; /* Adds some depth/shadow */
    width: 400px;                   /* Adjust as needed */
    height: 400px;                  /* Adjust as needed */
    overflow: hidden;               /* Ensures the game doesn't spill out of the dish */
}

/* Representing player bacteria */
.bacteria-player {
    color: #00FF00;  /* Green */
}

/* Representing rival bacteria */
.bacteria-rival {
    color: #FF0000;  /* Red */
}

/* Representing resources */
.resource {
    color: #FFFF00;  /* Yellow */
}

#gameArea {
    margin: 0;
    font-size: 1em;            /* Adjust the width of characters */
    line-height: .5em;          /* Adjust the height between lines */
    letter-spacing: 0px;       /* Adjust horizontal spacing if necessary */
}
