body {
    font-family: 'Courier New', monospace;
    font-size: 10px; /* Adjust based on your game's grid size */
    background-color: #222;
    color: #eee;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    position: relative;
    border: 2px solid #eee;
    border-radius: 50%;             /* Makes it circular */
    box-shadow: 0px 0px 15px #555; /* Adds some depth/shadow */
    width: 480px;                   /* Adjust as needed */
    height: 480px;                  /* Adjust as needed */
    overflow: hidden;
}

.bacteria-player, .bacteria-rival, .resource {
    display: inline-block;
    width: 10px;  /* Adjust size as needed */
    height: 10px;
    margin: 1px;  /* Spacing between elements */
}

.bacteria-player {
    background-color: #00FF00;  /* Green */
    border-radius: 50%;         /* Makes it circular */
}

.bacteria-rival {
    background-color: #FF0000;  /* Red */
    border-radius: 50%;         /* Makes it circular */
}

.resource {
    background-color: #FFFF00;  /* Yellow */
    border-radius: 50%;         /* Makes it circular */
}

.empty {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: transparent;
}

#gameArea {
    margin: 0;
    font-size: 1em;            /* Adjust the width of characters */
    line-height: .5em;          /* Adjust the height between lines */
    letter-spacing: 0px;       /* Adjust horizontal spacing if necessary */
}

#scoreDisplay {
    position: absolute;
    top: 10px;  
    left: 10px; 
    color: #eee;
    font-size: 20px; 
    z-index: 10;  
}
